@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
html, body{

    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    font-family: 'Quicksand', sans-serif;
    
}
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
.navbar{
    padding: 1.2rem 1.7rem;
    background: #fff;
}
.navbar-nav{
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
}
li{
    padding-right: 30px;
}
a.navbar-brand{
    color: #6E23FF !important;
    font-weight: 700;
    padding-left: 1.5rem !important; 
    font-size: 25px;
}
li.nav-item{
    color: #222;
    font-weight: 500;
    font-size: 16px;
}
a.quiz-link{
    background-color: #6E23FF !important;
    border-radius: 30px;
    color: #fff;
    border: none;
    width: 120px;
    line-height: 1.5em;
}
.header__banner{
    margin-top: 150px;
    margin-bottom: 150px;
    overflow-x: hidden;
}
.header__banner h1{
    color: #6E23FF;
    
}
.row{
    -ms-flex-wrap: unset;
        flex-wrap: unset;
}

.header__banner .col-lg-6:nth-child(1){
    padding-left: 3.5rem;
}

.header__banner .col-lg-6:nth-child(1) p{
   width: 500px;
   font-size: 16px;
}

.header__banner .col-lg-6:nth-child(1) h1{
    font-size: 3rem;
}
.features__section{
    height: 500px;
    background-color: #6E23FF;
}
.features__section h3{
    color: #fff;
    text-align: center;
    padding-top:40px;
}
.subjects__section{
    height: 700px;
    text-align: center;
    padding-top: 40px;
}
.subjects__section h3{
    color: #6E23FF;
    
}
.quiz__cta{
    color: #fff;
    background-color: #2E2446;
    height: 150px;
    text-align: center; 
}
.quiz__cta p{
    padding-top:30px !important;
}
footer{
    height: 50px;
    padding-top:10px;
}
footer .col-lg-6:nth-child(2){
    text-align: right;
}